
@use '../utils/_mixins.scss' as *;
@use '../utils/_variable.scss' as *;

.snk-field-customizer {
	@include position(fixed, $z-index: 100, $coords: (top: calc(var(--wp-admin--admin-bar--height) + $dist-medium), right: $dist-medium));

	padding: $dist-small;
	border-top: $border-transparent;
	border-bottom: $border-transparent;
	background-color: $white;
}
