
@use 'sass:list';

@use '_variable.scss' as *;

// Sizing.

@mixin size($size) {
	width: $size;
	height: $size;
}

@mixin width($min: null, $initial: null, $max: null) {
	@if ($min != null) {
		min-width: $min;
	}
	@if ($initial != null) {
		width: $initial;
	}
	@if ($max != null) {
		max-width: $max;
	}
}

@mixin height($min: null, $initial: null, $max: null) {
	@if ($min != null) {
		min-height: $min;
	}
	@if ($initial != null) {
		height: $initial;
	}
	@if ($max != null) {
		max-height: $max;
	}
}


// Spacing.

@mixin margin($values: ()) {
	@each $pos, $offset in $values {
		@if (null != list.index((top, right, bottom, left), $pos)) {
			margin-#{$pos}: $offset;
		}
		@if ($pos == vert) {
			margin-top: $offset;
			margin-bottom: $offset;
		}
		@if ($pos == horz) {
			margin-right: $offset;
			margin-left: $offset;
		}
		@if ($pos == all) {
			margin: $offset;
		}
	}
}

@mixin padding($values: ()) {
	@each $pos, $offset in $values {
		@if (null != list.index((top, right, bottom, left), $pos)) {
			padding-#{$pos}: $offset;
		}
		@if ($pos == vert) {
			padding-top: $offset;
			padding-bottom: $offset;
		}
		@if ($pos == horz) {
			padding-right: $offset;
			padding-left: $offset;
		}
		@if ($pos == all) {
			padding: $offset;
		}
	}
}


// Positioning.

@mixin coordinates($coords: (top: -20px, right: unset, bottom: unset, left: unset)) {
	@each $pos, $offset in $coords {
		@if (false != list.index((top, right, bottom, left), $pos)) {
			#{$pos}: $offset;
		}
	}
}

@mixin position($position, $z-index: 0, $coords: ()) {
	@include coordinates($coords);
	position: $position;
	z-index: $z-index;
}


// Contents.

@mixin flex($dir: null, $gap: null) {
	display: flex;

	@if ($dir != null) {
		flex-direction: $dir;
	}

	@if ($gap != null) {
		gap: $gap;
	}
}


// Borders.

@mixin border($border-style, $border-radius: unset) {
	border: $border-style;
	@if ($border-radius != unset) {
		border-radius: $border-radius;
	}
}


// Hovers.

@mixin selectable($time: $time-fast) {
	user-select: none;
	transition: filter $time;
	cursor: pointer;

	&:hover {
		filter: brightness(.95);
	}
}


// Fonts.

@mixin font($size, $line-height: null, $weight: null) {
	font-size: $size;

	@if ($line-height != null) {
		line-height: $line-height;
	}
	@if ($weight != null) {
		font-weight: $weight;
	}
}


// Visual.

@mixin bg-checkerboard() {
	background: repeating-conic-gradient(rgba(240, 240, 240, 1) 0% 25%, rgba(250, 250, 250, 1) 0% 50%) 50% / 30px 30px;
	transition: background $time-med;

	&:hover {
		background: repeating-conic-gradient(rgba(240, 240, 240, 0.5) 0% 25%, rgba(250, 250, 250, 0.5) 0% 50%) 50% / 30px 30px;
	}
}
